* {
margin: 0;
padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 20px;
  font-family: helvetica, sans-serif;
  font-size: 100%;
}

h1 {
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: hotpink;
}

a:hover {
  background-color: palegoldenrod;
}

p {
  padding-bottom: 5px;
}

.container {
  padding: 20px;
  display: flex;
}

.list {
  width: 25%;
  padding-right: 80px;
}

ol, ul {
  padding-top: 10px;
}

h3 {
  padding-bottom: 10px;
}

li {
  padding-bottom: 5px;
}

img {
  width: 26vw;
  padding-top: 10px;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none;}
.hover_img a:hover span { display:block; }